<div class="theme-layout">
	
	
	<div class="responsive-header ">
		<div class="mh-head first Sticky stick">
			<span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
			<span class="mh-text">
				<a href="/" title=""><img src="images/logo2.png" alt=""></a>
			</span>
			<span class="mh-btns-right">

				
				<div class="user-img">
				<img src="images/resources/admin.jpg" alt="">
				
				<div class="user-setting">
					
					<a href="time-line.html" title=""><i class="ti-user"></i> {{user.Username}}</a>
					<a href="edit-profile-basic.html" title=""><i class="ti-pencil-alt"></i>edit profile</a>
					
					
					<a href="#" title=""><i class="ti-power-off"></i>log out</a>
				</div>
			</div>
			
			</span>
			
		
					
				
			
		</div>
		<div class="mh-head second">
			<form class="mh-form">
				<input placeholder="search" />
				<a href="#/" class="fa fa-search"></a>
			</form>
		</div>






		<nav id="menu" class="res-menu">
			<ul>
				
			
				
				<aside class="sidebar static sidebarMenu">
					<div class="widget">
						<h4 class="widget-title">Shortcuts</h4>
						<ul class="naves">
							<li>
								<i class="ti-clipboard"></i>
								<a href="#" title="">News feed</a>
							</li>
							
							
							<li>
								<i class="ti-user"></i>
								<a href="timeline-friends.html" title="">friends</a>
							</li>
							<li>
								<i class="ti-image"></i>
								<a href="timeline-photos.html" title="">images</a>
							</li>
							<li>
								<i class="ti-video-camera"></i>
								<a href="timeline-videos.html" title="">videos</a>
							</li>
							<li>
								<i class="ti-comments-smiley"></i>
								<a href="messages.html" title="">Messages</a>
							</li>
							<li>
								<i class="ti-bell"></i>
								<a href="notifications.html" title="">Notifications <span> <sup>13</sup> </span></a>
							</li>
							<!-- <li>
								<i class="ti-share"></i>
								<a href="people-nearby.html" title="">People Nearby</a>
							</li> -->
							
							<!-- <li>
								<i class="ti-power-off"></i>
								<a href="landing.html" title="">Logout</a>
							</li> -->
						</ul>
					</div><!-- Shortcuts -->
					<div class="widget">
						<h4 class="widget-title">Edit info</h4>
						<ul class="naves">
							<li>
								<i class="ti-info-alt"></i>
								<a title="" href="edit-profile-basic.html">Basic info</a>
							</li>
							<li>
								<i class="ti-mouse-alt"></i>
								<a title="" href="edit-work-eductation.html">Education &amp; Work</a>
							</li>
							<li>
								<i class="ti-heart"></i>
								<a title="" href="edit-interest.html">My interests</a>
							</li>
							<li>
								<i class="ti-settings"></i>
								<a title="" href="edit-account-setting.html">account setting</a>
							</li>
							<li>
								<i class="ti-lock"></i>
								<a title="" href="edit-password.html">change password</a>
							</li>
						</ul>
					</div>
					
					
				</aside>
				
				
				
				
				
				
		</nav>
		
	</div><!-- responsive header -->
	
	<div class="topbar stick">
		<div class="logo">
			<a title="" href="/"><img src="images/logo.png" alt=""></a>
		</div>
		
		<div class="top-area">
		
			<ul class="setting-area">
				<li>
					<a href="#" title="Home" data-ripple=""><i class="ti-search"></i></a>
					<div class="searched">
						<form method="post" class="form-search">
							<input type="text" placeholder="Search Friend">
							<button data-ripple><i class="ti-search"></i></button>
						</form>
					</div>
				</li>
				
				<li>
					<a href="notifications.html" title="Notification" data-ripple="">
						<i class="ti-bell"></i><span>20</span>
					</a>
					<!--  -->
				<li>
					<a href="#vfb" title="Messages" data-ripple=""><i class="ti-comment"></i><span>12</span></a>
				</li>
				
			</ul>
			<div class="user-img">
				
				<img src="images/resources/admin.jpg" alt="">
				<span class="status f-online"></span>
					<div class="user-setting">
						
						<a href="/profile" ><i class="ti-user"></i> {{user.Username}}</a>
						<a href="edit-profile-basic.html" ><i class="ti-pencil-alt"></i>edit profile</a>
						
						
						
						<a href="/logout" title=""><i class="ti-power-off"></i>log out</a>
					</div>

				
				
			</div>
					
					

			
		</div>
		
	</div><!-- topbar -->


    {{!-- end heder --}}