<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>PASCMATE</title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>
<body>
<!--<div class="se-pre-con"></div>-->

	<a class="dd" title="" href="index.html"><img src="images/logo.png" alt=""></a>

<div class="theme-layout">
	<div class="container-fluid pdng0">
		<div class="row merged">
			<div class="lap col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="land-featurearea">
					<div class="land-meta">
						<h1>PASCMATE</h1>
						<p>
							PASCMATE is not a media. The key is to listen, engage, and build relationships.
						</p>
						<div class="friend-logo">
							<img src="images/12.png" alt="">
						</div>
						
					</div>	
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				
					<!--  -->
				
				<div class="login-reg-bg">
					
					<div class="log-reg-area reg">
						<h2 class="log-title">Register</h2>
						{{#if loginErr}}
						<small>This useralready have an account</small>

						{{/if}}
							
						<form action="/signup" method="post" id="signup-form">
							<div class="form-group">	
							  <input type="text" name="Fulname" required="required"/>
							  <label class="control-label" for="input">First & Last Name</label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">	
							  <input type="text" name="Username" required="required"/>
							  <label class="control-label" for="input">User Name</label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">	
							  <input type="password" name="Password" required="required"/>
							  <label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
							</div>
							<div class="form-radio">
							  <div class="radio">
								<label>
								  <input type="radio" name="Radio" value="male"  checked="checked"/><i class="check-box"></i>Male
								</label>
							  </div>
							  <div class="radio">
								<label>
								  <input type="radio" name="Radio" value="female" /><i class="check-box"></i>Female
								</label>
							  </div>
							</div>
							<div class="form-group">	
							  <input type="text" name="Email" required="required"/>
							  <label class="control-label" for="input"><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6c29010d05002c">[email&#160;protected]</a></label><i class="mtrl-select"></i>
							</div>
							
							<a href="/login" title="" class="aa ml-0">Already have an account</a>
							<div class="submit-btns">
								<button class="mtr-btn signup"  type="submit"><span>Register</span></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{!-- <Script>
    function doRegister(form){
        form.submit.setAttribute("disabled","disabled")
        form.submit.innerHTML = "<span>Loading..</span>"

        var ajax = new XMLHttpRequest()
        ajax.onreadystatechange= function(){
            if(this.readyState == 4 && this.status ==200){
                form.submit.removeAttribute('disable')
                form.submit.innerHTML = "<span>Register</span>"

                var respone = JSON.parse(this.responseText);
                alert(response.message)
                if(respone.status =="success"){
                    window.location.href="/login"
                }
            }
        }
        ajax.send(new FormData(form))
        return false
    }
</Script>
	 --}}
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/main.min.js"></script>
	<script src="js/script.js"></script>

</body>	

</html>